<% include navbar.ejs %>

<style>
body{
    background-image: url("a.jpg");
    color:white;
}
h2{
    text-align:center;

}
</style>


<div>
<h2>Name is <%=obj.name%> </h2>
<h2>Age is <%=obj.age%></h2>
<h2>Height is <%=obj.height%></h2>
<h2>gender is <%=obj.gender%></h2>
</div>
 



